/* Ini CSS */

/* Ini untuk nav */
nav {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.logo-icon {
    border: 1px solid;
    width: 100px;
}

.nav-container {
    display: flex;
}

.nav-item {
    border: 1px solid;
    padding: 8px;
}

/* Ini untuk judul header */
.header-content {
    text-align: center;
}

/* Ini untuk main content */
.main-content {
    display: flex;
}

/* Ini utamanya untuk banner content autoslide */
.content {
    border: 1px solid;
    width: 100%;
    height: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content-image {
    border: 1px solid;
    width: 100%;
    height: 100%;
}

/* Bagian ini untuk testimoni banner content */
.main-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon {
    border: 1px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* Ini untuk form input */
input, select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid navy;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
  }

  button {
    width: 75%;
  }