/* Ini CSS */

nav {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.logo-icon {
    border: 1px solid;
    width: 100px;
}

.nav-container {
    display: flex;
}

.nav-item {
    border: 1px solid;
    padding: 8px;
}

.header-content {
    text-align: center;
}

.main-content {
    display: flex;
}

.content {
    border: 1px solid;
    width: 100%;
    height: 250px;
}

.content-image {
    border: 1px solid;
    width: 100%;
    height: 175px;
}

.item-icon {
    border: 1px solid;
    width: 25px;
    height: 25px;
}